overload~=1.1
requests~=2.24.0
inputs~=0.5
opensimplex~=0.3
PyYAML~=5.3.1
fastutils~=0.15.2
pyglet~=1.5.7
Pillow~=7.2.0
future~=0.18.2
wxPython~=4.1.0
pyGoogleSearch~=2.5
Deprecated~=1.2.10
setuptools~=49.2.0
bizerror~=0.4.0
dill~=0.3.2
git+https://github.com/ultrafunkamsterdam/googletranslate
